<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I offer a comprehensive range of computer repair and IT support services. Whether you're facing hardware issues, software glitches, or network concerns, I am equipped to diagnose and resolve any problem efficiently. From virus removal and data recovery to hardware upgrades and software installations, I've got you covered</p>
      </div>
      <div class="col-lg-4">
        <p>Need a new Microsoft Operating System? Microsoft Word, . Migrate to a Cloud-based storage solution to preserve your important information.  </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
